.archive-container{
  min-height: 750px;
  width: 100%;
  padding-right: 90px;
}
.archive-container >h1{
  margin-left: 45px;
}
.detail-archive-container{
  display: flex;
  align-items: center; 
  gap: 15px;
}
.archive-button{
  background-color: transparent;
  color:rgb(83, 83, 83);
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}
.archive-button:hover{
  color:#161616;
  text-decoration: underline;
}

.host-archive-back-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 170px;
  width:300px;
  margin-left: 45px;
  margin-bottom: 10px;
}
