
/* dashboard */
.host-dashboard-income-container, 
.user-dashboard-welcome-container{
  background-color: rgb(255,234,208) ;
  padding: 30px 45px ;
  height: 200px;
  width: 100%;
}.host-dashboard-income-container > h1, .user-dashboard-welcome-container > h1{
  font-size: 50px;
}
.host-dashboard-income-detail-container, 
.host-dashboard-review-detail-container,
.host-dashboard-request-detail-container,
.host-dashboard-listed-van-detail-container,
.user-dashboard-welcome-detail-container,.user-dashboard-van-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 0px ;
}
/* User van rented dashboard */
.user-dashboard-van-container{
  align-items: center;
}
.host-dashboard-income-detail-container > h4{
  color: #4D4D4D;
}
.host-dashboard-detail-link{
  color: #4D4D4D;
}

/* Review */
.host-dashboard-review-container,
.user-dashboard-van-container{
  background-color: #FFDDB2;
  padding: 15px 45px ;
}
.host-dashboard-review-inner-detail-container{
  display: flex;
  align-items: center;
}
.host-dashboard-review-inner-detail-container > h3{
  margin-right: 10px;
}

/* Requests */
.host-dashboard-request-container{
  padding: 15px 45px ;
  /* background-color: rgb(255,234,208) ; */
  /* height: 250px; */
}
.host-dashboard-request-list-container{
  display:flex;
  flex-direction: column;
  gap: 15px;
}
.host-dashboard-request-tile{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px;
  border-radius: 5px;
  
}



/* Listed Vans */
.host-dashboard-listed-vans-container{
  padding: 15px 45px ;
  margin-bottom: 40px;
}/* .host-dashboard-listed-van-detail-container > h3{

} */
.host-dashboard-van-list-element-container{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.host-dashboard-host-van-tile{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px;
  border-radius: 5px;
}

.host-dashboard-inner-element-container{
  display: flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}.host-dashboard-inner-element-container > div {
  display:flex;
  flex-direction: column;
  gap:10px;
}.host-dashboard-inner-element-container > div >h3{
  font-size: 25px;
}.host-dashboard-inner-element-container > div >h4{
  color: #4D4D4D;
  font-weight: 600;
}
.host-dashboard-van-element-image{
  height: 100px;
  width: 100px;
  border-radius: 5px;
}


