.host-request-container{
  margin-left: 45px;
}
.host-request-list-container{
  display:flex;
  flex-direction: column;
}
.host-request-tile{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px;
  border-radius: 5px;
  
}