/* same main section from index.css */
.layout-section{
    flex: 1 1 auto;
    min-height: 100vh;
    position: relative;
    margin-right: 45px;
}
.host-nav-bar-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-bottom: 35px;
  margin-left: 45px;
}
.pending-host-link-route{
  color:rgb(83,83,83);
  font-weight: 600;
  
}
.active-host-link-route{
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}
.pending-host-link-route:visited{/* prevents the link from changing color once visited */
  color:rgb(83,83,83);
}
.pending-host-link-route:hover{
  text-decoration: underline;
}
.pending-host-link-route:focus{
  text-decoration: underline;
}
