.upload-header{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.host-van-upload-content-container{
  display:flex;
  gap:30px;
}
.host-van-upload-image-preview-container{
  display: flex;
  flex-direction: column;
  align-items:start;
  height: 450px;
  width: 300px; 
}

.host-van-upload-preview-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  height: 300px;
  width: 300px; 
  border-radius: 10px;
}

.host-van-upload-image-preview{
  text-align: center;
}
.upload-preview{
  height: 300px;
  width: 300px; 
  object-fit: cover;
  border-radius: 10px;
}

.host-van-upload-image-scroller{
  margin-top: 5px;
  width: 100%;
  height: 130px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns:35%;
  gap:5px;
}
.host-van-upload-image-scroller::-webkit-scrollbar{
  width: 2em;
  background: rgb(255, 127, 22);
  border-radius: 100vw;
}
.host-van-upload-image-scroller::-webkit-scrollbar-thumb{
  width: 2em;
  background: rgb(255, 238, 224);
  border-radius: 100vw;
  border: .15em solid rgb(255, 127, 22);
  
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}
.array-upload-preview-element{
  height: 100px;
  width: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 5px;
}


.host-van-form-container{
  margin-left: 45px;
  
}
.host-van-upload-form{
  display:grid;
  grid-template-columns: 150px 2fr;
  gap:15px;
}
.host-van-upload-form > .upload-input, .host-van-upload-form > textarea {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 7px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  border-radius: 6px;
}
.host-van-upload-form > textarea {
  height: 100px;
  padding-top: 10px;
  resize: none;
}

.host-van-upload-form > .upload-input:focus, .host-van-upload-form > textarea:focus {
  outline: none;
}

/* .host-van-upload-file{
  
} */
.host-van-upload-file-button{
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer; 
  padding: 5px 10px;
}.host-van-upload-file-button:hover{
  transform: translate(1px, 1px)
}

.host-label{
  text-align: right;
}

.host-van-type-radio-group{
  display: flex;
  gap:15px;
  align-items: start;
}
.host-van-type-radio-group >div {
  display: flex;
  gap:3px;
  align-items: center;
}
.host-van-upload-button-container{
  display:flex;
  align-items: center;
  justify-content: center;
}
.host-van-upload-button{
  width: 200px;
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 8px;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer; 
}.host-van-upload-button:hover{
  transform: translate(1px, 1px)
}