
.host-request-container > h1{
  margin-left: 45px;
}
.request-list-scroller{
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 45px;
  gap: 15px;
  height: 600px;
  padding:0;
  margin-left: 45px;
  overflow-y:auto;
  overscroll-behavior-inline: contain;
}
.request-list-scroller::-webkit-scrollbar{
  width: 1em;
  background: rgb(255, 127, 22);
  border-radius: 100vw;
}
.request-list-scroller::-webkit-scrollbar-thumb{
  width: 2em;
  background: rgb(255, 238, 224);
  border-radius: 100vw;
  border: .15em solid rgb(255, 127, 22);
  
}
.host-request-tile, .user-request-tile{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 150px;
  padding:40px;
}
.host-request-submit-container, .user-request-submit-container{
  display:flex;
  flex-direction: column;
  gap:10px;
}
.host-request-label, .user-request-label{
  font-size: 25px;
  font-family: Inter, 'Times New Roman', Times, serif;
}

/* host request detail page */
.host-request-detail-page-container{
   background-color: white;
  padding:20px;
  border-radius: 5px ;
  gap:15px;
  height:100%;
  display:flex;
  flex-direction: column;
  margin-bottom: 45px;
  
}
.host-request-detail-container,.user-request-detail-container{
  display:flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 30px;
}
.host-request-detail-container,.user-request-detail-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100px;
}
.host-request-info-container, .user-request-info-container{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.host-request-info-container > p, .user-request-info-container > p {
  font-size: 20px;
}
.host-request-daterange-container>h4, .user-request-daterange-container>h4{
  font-size: 18px;
}

.host-request-user-detail-container,.user-request-user-detail-container{
  width: 500px;
}
.host-request-user-detail-container >pre, .user-request-user-detail-container >pre{
  font-size: 13px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.host-request-form-container{
  display: flex;
  padding: 30px;
}
.host-request-button-container{
  width: 300px;
  display: flex;
  gap:20px;
  align-items: center;
  justify-content: center;
}
.request-accept-button,.request-reject-button{
  color: white;
  padding:5px 30px;
  width: 120px;
  border-radius: 5px;
}
.request-accept-button{
  background-color: green;
}
.request-reject-button{
  background-color: red;
}
.request-accept-button:hover,.request-reject-button:hover{
  transform: translate(1px, 1px)
}

/* User request page */
.user-request-status-container{
  color: white;
}
.user-accept-status, .user-reject-status, .user-pending-status{
  width: 100%;
  padding:5px 30px;
  border-radius: 5px;
}
.user-accept-status{
  background-color: green;
}
.user-reject-status{
  background-color: red;
}
.user-pending-status{
  background-color: purple;
}

/* status color */
.status-accept{
  color: green;
}
.status-reject{
  color: red;
}
.status-pending{
  color: purple;
}