.user-van-rent-form{
  background-color: #FFFFFF;
  /* margin-top: 30px; */
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap:15px;
}
.user-van-date-container{
  display:flex;
}