
.loading-container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%)
}

.detail-page-container{
  /* position: absolute; */
  min-height: 750px;
  width: 100%;
  margin-left: 45px ;
}

.detail-back-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 170px;
  width:300px;
}
.arrow {
  color:rgb(83, 83, 83);
}
.detail-back-button {
  background-color: transparent;
  text-decoration: underline;
  font-weight: 500;
  
}
.detail-back-button:visited {
  color:rgb(83, 83, 83);
}
.detail-info-container {
  display: flex;
  flex-direction: row;
  gap:20px;
  margin-top: 20px;
}
.detail-image{
width: 400px;
border-radius: 10px;

}
.detail-info > h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.detail-info-price{
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
}
.detail-info-price > span{
  font-size: 15px;
  font-weight: 500;
}
.detail-info-description {
  font-size: 15px;
  width: 80%;
  min-width: 400px;
  max-width: 700px;
  line-height: 23px;
}
.rent-button {
  background-color: rgb(255, 127, 22);
  color:white;
  border-style: none;
  border-radius: 5px;
  width: 300px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor:pointer;
  max-width: 800px;
  font-size: 20px;
  font-weight: 500;
}
.rent-button:hover{
  transform: translate(1px, 1px)
}

@media only screen and (max-width:800px){
  .detail-info-container{
    flex-direction: column;
  }
  .detail-info-description{
    max-width: 600px;
    min-width: 400px;
  }


}


/* HOST VAN DETAIL CSS */
.host-van-detail-container{
  background-color: white;
  padding:20px;
}
.host-detail-back-container{
  background-color: transparent;
  /* text-decoration: underline; */
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}
.host-detail-back-button:visited {
  color:rgb(83, 83, 83);
}
.host-van-detail-label-container{
  display: flex;
  flex-direction: row;
  gap:20px;
  min-width: 700px;
}
.host-van-detail-image-icon{
  width: 140px;
  height: 140px;
}
.vertical-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:5px
}
.host-type-tag-Simple, .host-type-tag-Rugged, .host-type-tag-Luxury {
  color: white;
  font-weight: 300;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 15px;
  font-family: Inter, 'Times New Roman', Times, serif;
}
.host-type-tag-Simple{
  background-color: #E17654;
}
.host-type-tag-Rugged{
  background-color:#115E59 ;
}
.host-type-tag-Luxury{
  background-color: #161616;
}

/* host van sub navigation bar */
.host-subnavbar-container{
  display: flex;
  gap:20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

