.option-container{
  width: 100%;
  min-width: 500px;
  height: 130px;
  padding:20px 45px;

}
.option-container > h1 {
  font-size: 25px;
  margin-bottom: 15px;
}
.filter-van-container {
  display:flex;
  flex-direction: row;
  gap: 20px;
  min-width: 400px;
}
.filter-button{
  background-color: #FFEAD0 ;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
}
.filter-button:hover{
  opacity: .70 ;
  transition: opacity .5s;
}
.clear-filter-button {
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 15px;
  color:#4D4D4D;
  white-space: nowrap;
}

/* Below is for the van tiles */
.van-list{
  display:grid;
  grid-template-columns: 300px 300px ;
  padding:20px 45px;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  
}
.van-tile{
  display:flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  cursor: pointer;
}
.van-image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.van-info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.van-info > h3 , p {
  font-size: 23px;
  font-weight: 700;
}
.van-info > p > span {
  font-size: 15px;
  font-weight: 500;
}

.type-tag-simple, .type-tag-rugged, .type-tag-luxury {
  color: white;
  font-weight: 300;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}
.type-tag-simple{
  background-color: #E17654;
}
.type-tag-rugged{
  background-color:#115E59 ;
}
.type-tag-luxury{
  background-color: #161616;
}

/* adding responsiveness to vans */
@media only screen and (min-width:1100px){
  .van-list{
    grid-template-columns: 300px 300px 300px;
    
  }
}
@media only screen and (min-width:1400px){
  .van-list{
    grid-template-columns: 300px 300px 300px 300px;
  }
}
@media only screen and (min-width:1700px){
  .van-list{
    grid-template-columns: 300px 300px 300px 300px 300px;
  }
}



