.option-container{
  width: 100%;
  min-width: 500px;
  height: 130px;
  padding:20px 45px;

}
.option-container > h1 {
  font-size: 25px;
  margin-bottom: 15px;
}
/* below is the filter list */
.filter-van-container {
  display:flex;
  flex-direction: row;
  gap: 20px;
  min-width: 400px;
}
.van-type.Simple, .van-type.Luxury, .van-type.Rugged{
  background-color: #FFEAD0 ;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
}
.van-type.Simple:hover {
  background-color: #E17654;
  transition: background-color .2s;
  color:white;
}
.van-type.Luxury:hover{
  background-color: #161616;
  transition: background-color .2s;
  color:white;
}
.van-type.Rugged:hover{
  background-color:#115E59;
  transition: background-color .2s;
  color:white;
}
.van-type:visited{
  color:black;
}

.clear-filter-button {
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 15px;
  color:#4D4D4D;
  white-space: nowrap;
}

/* Below is for the van tiles */
.van-list{
  display:grid;
  grid-template-columns: 300px 300px ;
  padding:20px 45px;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  
}
.van-tile{
  display:flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  cursor: pointer;
}
.van-link{
  color: #161616;
}
.van-link:visited{
  color: #161616;
}
.van-image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.van-info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.van-info > h3 , p {
  font-size: 23px;
  font-weight: 700;
}
.van-info > p > span {
  font-size: 15px;
  font-weight: 500;
}

.van-type.Simple.selected, .van-type.Rugged.selected, .van-type.Luxury.selected {
  color: white;
  font-weight: 300;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}
.van-type.Simple.selected {
  background-color: #E17654;
}
.van-type.Rugged.selected{
  background-color:#115E59 ;
}
.van-type.Luxury.selected{
  background-color: #161616;
}

/* adding responsiveness to vans */
@media only screen and (min-width:1100px){
  .van-list{
    grid-template-columns: 300px 300px 300px;
    
  }
}
@media only screen and (min-width:1379px){
  .van-list{
    grid-template-columns: 300px 300px 300px 300px;
  }
}
@media only screen and (min-width:1700px){
  .van-list{
    grid-template-columns: 300px 300px 300px 300px 300px;
  }
}

/* Below is for the HOST Vans and Vans detail page */
.layout-section > h1 {
  width: 500px;
}
/* DEFAULT size is flex column  */
.host-vans-list-container{
  display:flex;
  flex-wrap: wrap;
  margin-top: 20px;
  /* background-color: lightblue; */
  gap:20px;
  
}
.host-vans-container{
  background-color: #FFFFFF;
  min-width: 400px;
  padding:30px;
  display: flex;
  gap:20px;
}
.host-van-image-icon{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.host-van-name {
  margin-top: 15px;
  margin-bottom: 10px;
}
.host-van-price {
  color: #4D4D4D;
  font-weight: 500;
}
.host-van-price > span {
  font-size: 20px;
}
.host-van-link{
  color: black;
}
.host-van-link:visited{ /* prevents hyperlink purple highlight */
  color: black;
}
